*.cache
*.pyc
*.dll
*.exe
*.pdb
**/__pycache__/

**/bin/
**/obj/
**/TestResults/
**/Generated/
/.vs/Broiler.JS/CopilotIndices/18.5.39187.10602/CodeChunks.db
/.vs/Broiler.JS/CopilotIndices/18.5.39187.10602/SemanticSymbols.db
/.vs/Broiler.JS.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/Broiler.JS.slnx/FileContentIndex/07e1a119-456b-4454-a225-4bd70d339f5b.vsidx
/.vs/Broiler.JS.slnx/FileContentIndex/15f431e8-401a-4a7c-b2db-c34dd104daed.vsidx
/.vs/Broiler.JS.slnx/FileContentIndex/947faec6-6699-40b5-bc73-b6d75ed780a5.vsidx
/.vs/Broiler.JS.slnx/FileContentIndex/b766bda8-ebf7-4d1a-98fb-41ed2804352e.vsidx
/.vs/Broiler.JS.slnx/FileContentIndex/ea0465c5-34d6-4e46-b036-d6958313d7e3.vsidx
/.vs/Broiler.JS.slnx/FileContentIndex/ef77f93f-8a54-4568-a491-6eff2c190c3f.vsidx
/.vs/Broiler.JS.slnx/v18/.futdcache.v2
/.vs/Broiler.JS.slnx/v18/.suo
/.vs/Broiler.JS.slnx/v18/DocumentLayout.backup.json
/.vs/Broiler.JS.slnx/v18/DocumentLayout.json
/.vs/Broiler.JS.slnx/v18/fileList.bin
/.vs/Broiler.JS.slnx/v18/TestStore/0/016.testlog
/.vs/Broiler.JS.slnx/v18/TestStore/0/testlog.manifest
/.vs/ProjectEvaluation/broiler.js.metadata.v10.bin
/.vs/ProjectEvaluation/broiler.js.projects.v10.bin
/.vs/ProjectEvaluation/broiler.js.strings.v10.bin
/.vs/Broiler.JS.slnx/v18/TestStore/0/017.testlog
/logs/.vs/LogParser.slnx/DesignTimeBuild/.dtbcache.v2
/logs/.vs/LogParser.slnx/FileContentIndex/4a98d3c3-faaf-4025-bf88-8d1006ab8dd1.vsidx
/logs/.vs/LogParser.slnx/FileContentIndex/88ae0765-11b8-4748-9f63-f121ee345567.vsidx
/logs/.vs/LogParser.slnx/FileContentIndex/a5a20468-377e-4c8d-9559-a410cbac777b.vsidx
/logs/.vs/LogParser.slnx/FileContentIndex/e6046c33-8420-44c5-b726-09a57becaa73.vsidx
/logs/.vs/LogParser.slnx/v18/.futdcache.v2
/logs/.vs/LogParser.slnx/v18/.suo
/logs/.vs/LogParser.slnx/v18/DocumentLayout.backup.json
/logs/.vs/LogParser.slnx/v18/DocumentLayout.json
/logs/.vs/ProjectEvaluation/logparser.metadata.v10.bin
/logs/.vs/ProjectEvaluation/logparser.projects.v10.bin
/logs/.vs/ProjectEvaluation/logparser.strings.v10.bin
/logs/LogParser/Properties/launchSettings.json
