[submodule "Broiler.Unicode"]
	path = Broiler.Unicode
	url = https://github.com/MaiRat/Broiler.Unicode.git
	branch = main
[submodule "Broiler.DateTime"]
	path = Broiler.DateTime
	url = https://github.com/MaiRat/Broiler.DateTime.git
	branch = main
[submodule "Broiler.Regex"]
	path = Broiler.Regex
	url = https://github.com/MaiRat/Broiler.Regex.git
